/* ==========================================================================
   Module - Article Listing styles
   ========================================================================== */

/* 1. Main Listing */
/* 2. Related Listings */


/* --- start:listing--- */  
.listing{
   padding: 10px;
   color:$dark-grey;

   @media $medium{   
     padding: 20px 15px; 
   }                
   @media $large{   
     padding: 20px; 
   } 


   &:hover{
     text-decoration:none;
   }
    
   ul{
     font-size:responsive 16px 17px; 
    
     li{
        color:$export-blue-100; 
        list-style-type: square;
        line-height: 2;
        margin-left: 20px;  
         
        &:first-of-type{
          margin-top:10px;
        }
         
       span{
         color:$dark-grey; 
         font-size:responsive 14px 16px;     
       }
      
     }
    
   }    

/* --- start:news heading --- */ 
.heading{
  align-items:flex-start;
  display:flex; 
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media $medium{  
    flex-direction:row;  
  }

  .listing-thumb{
      flex-grow:0;
      margin:0 auto 10px;
      max-width:200px;

      @media $medium{
        flex-grow:1;
        margin:0;
        padding-right:10px;
      }

      @media $large{
        padding-right:20px!important;
      }

    } 

  /* --- title & date --- */ 
  .listing-title{
    flex-grow:0;
    margin:0;

    @media $medium{  
      flex-grow:3;
    } 

  }

  h2{
    color:$dark-grey;
    font-size:responsive 18px 25px;
    font-weight:$bold;

    @media $large{ 
      font-weight:$normal;
    }

  }

  p{
    color:$export-blue-100;
    font-size:14px;   
    margin:0;   
  }

}
/* --- end:news heading --- */ 

.article-image{
   flex: auto;
   margin: 10px 0 5px;
   max-height: 400px;
   overflow: hidden;

    img{
      height: auto;
      width: 100%; 
    }

}    

.article-caption{
    font-size:1.0em;
    line-height:1;
    margin:0;
    font-weight:$bold;

}
    


.content{
  font-size:responsive 16px 18px;  
}

.contact{
  font-size:0.9em;
}

.btn{
  margin-bottom:25px;
  width:auto;
}    

}
/* --- end:listing--- */    


/* --- start:related-listings--- */  
.related-listings{
   padding:0;
   color:$dark-grey;

/* --- start:related-listing-title--- */ 
 .related-title{
    background-color:transparent;  
    color:$dark-grey;
    font-size:responsive 18px 25px;
    font-weight:$bold;
    margin-bottom: 20px;
 }
/* --- end:related-listing-title--- */   

/* --- start:grid-item--- */   
 .grid-item{
     background-color:transparent!important;
     margin-bottom:0;



 /* --- start:related-listing-- */        
  .nested-grid-item{ 
      lost-column:1/2 2;

      @media $medium{
        lost-column:1/4 5;
      }

      &:hover{
          text-decoration:none;
      }


    .article-image{
       background-color:$dark-grey;
       flex: auto;
       margin:0;
       max-height: 400px;
       overflow: hidden;

       img{
          height: auto;
          width: 100%;
        }

    }    

    .article-caption{
        font-size:responsive 16px 18px;
        line-height:1.1;
        margin:5px 0 15px;
        font-weight:$normal;

        @media $medium{
          margin:5px 0 0;    
        }

    }

  }
 /* --- end:related-listing-- */                


}/* --- end:grid-item--- */   

}
/* --- end:related-listings--- */   