/* ==========================================================================
   Module - Regional Events Filter styles
   ========================================================================== */

.grid-content{
  overflow:visible!important;    

  .region-events {
    background:white;
    cursor: pointer;
    font-size: 1.15em;
    height: 55px;
    margin: 0 auto 30px;
    outline: medium none;
    padding: 0.9em 0.3em;
    position: relative;
    width: 96%;
    
    
      /* ------- start:menu arrow ---------  */ 
    span{  
       
      &:before, &:after {
          background-color:$dark-grey;
          content: "";
          height: 8px;
          position: absolute 45% 20px auto auto;
          width: 2px; 
     }
      &:before{
              transform:translate(-2px, 0) rotate(-45deg);
            }
      &:after{
              transform: translate(2px, 0) rotate(45deg);
            }

    }
       
    &.active span{       

      &:before{
       transform: translate(2px, 0) rotate(-45deg);    
      }

      &:after{ 
       transform: translate(-2px, 0) rotate(45deg);    
      }      

    }   
       
        

  /* ------- end:menu arrow ---------  */ 

    
    &.active .dropdown{
      
    }
    
    .dropdown{
      background:white;     
      box-shadow:0 1px 2px rgba(41, 40, 39, 0.7);
      list-style: none; 
      overflow: hidden;
      position: absolute 100% 0 auto 0;
      transition: all 0.2s ease-out;    
      z-index:$z-index-5;
        
      li{
        padding: 1.0em 0.8em;
          
        &:hover a {
          border-bottom: 1px solid $dark-grey;
        }  
          
        a{
         border-bottom: 1px solid transparent;
         color:$dark-grey;
         display: inline-block;
         text-decoration: none;
         padding: 0;
        }  
          
      }  
           
   }
    
}

    
    
}
