/* ==========================================================================
   Module - Main Contents Section styles
   ========================================================================== */

/* --- start:section-main-contents --- */  
.section-main-contents{
    background-color:$off-white;
    lost-center:100%!important;
    padding-top:1em;

    .grid-item{
       background-color:white; 


  }/* --- end:grid-item --- */ 

}/* --- end:section-news --- */ 
