 /* ==========================================================================
   Modules - Search Filter styles
   ========================================================================== */
   
 /* --- start:search filter--- */  
.search-filter{
    background-color:$dark-grey;
    display: flex;
    flex-direction: column;
    width:100%;

    h3{
      color:white; 
      font-weight:$normal;
      font-size:responsive 19px 25px;
      margin: 0.8em 0.65em;
      text-transform: uppercase;

      @media $medium{    
        margin: 0.8em 0.75em 0.5em; 
      }
      @media $large{    
        margin:1.125em 1em 0.5em!important
      }

    }
     
    /* --- start:form controls--- */ 
    .form-controls{
      display: flex;
      flex-direction:column;
      margin:0 2.5% 10px;
      width: 95%;
        
      @media $medium{   
       
        margin:10px 2.5% 10px;
        position:relative;
        z-index:$z-index-1;  
      }            
      @media $large{ 
        flex-direction:row;
        margin:10px 1.5%;  
      }      

        

         /* --- start:sorting field--- */ 
         .sorting-field{
            display: flex; 
            flex-direction: column;
            flex-grow:2; 
            lost-column: 1/1; 
            margin:5px 0; 
            position: relative;
            width:100%;

            &:first-of-type{
              z-index:$z-index-4; 
            }   
            &:nth-child(2){
              z-index:$z-index-3; 
            }  
             
             
            &:last-of-type{
              z-index:$z-index-2; 
            } 
            
            @media $large{ 
              margin:30px 0;     
            }
             
             
            &:last-child{
              flex-grow:1;
              margin: 35px 25%;
              max-width: 50%;
                
              @media $medium{
                margin: 35px 35%;
                max-width: 30%;
              }  
                
              @media $large{   
                margin:5px 0 0 5%;
                max-width:80px;
              }  
                
            } 

             
             @media $large{   
               flex-direction:row;
               lost-column: 1/4 0 no-flex;
             }              
             
            label{
              color: white;
              display: flex;
              line-height:3;
              justify-content: left;
              margin:0;
              min-width: 70px;  
                
              @media $large{   
               justify-content: center; 
             }    
                
            } 
             
             /* --- start:select menu--- */ 
            select {
                color:$dark-grey;    
                cursor: pointer;
                display: inline-block;
                font-size:1.0em;
                height:50px;
                min-width:225px;
                position: relative;
                width:100%;

                @media $large{   
                  min-width:150px;  
                }                
                
                @media $x-large{   
                  min-width:180px;  
                }
                
  

                
             } 
             /* --- end:select menu--- */ 
             
             
             /* --- start:select dropdown menu--- */ 
             .select-options {
               background-color:white;     
               box-shadow:0px 2px 4px -2px rgba(0, 0, 0, 0.8);
               display: none;
               list-style: none;
               margin: 0;
               padding: 0;     
               position: absolute 100% 0 auto 0;
               z-index:$z-index-2;

               li{
                border-top: 1px solid rgba(0,0,0,0.2);
                color:$dark-grey;
                margin: 0;
                padding: 12px 0;
                text-indent: 15px;
                transition: all 0.2s ease-in-out;
                   
                &:hover{
                  background-color:$dark-grey;    
                  color:white;
                } 
                   
                &[rel="hide"] {
                  display: none;
                }   
                   
               }
  
              }
             /* --- end:select dropdown menu--- */ 
             
             
         }
         /* --- end:sorting field--- */ 

          
          
         /* --- start:search-filter button--- */ 
         .search-filter-button{
           position: relative auto auto auto 0;
           width:100%;
             
    

           input{
             background:$export-blue-100;
             border: 1px solid $export-blue-100;   
             color: white;
             font-size:1.15em;
             font-family:$font-secondary;
             font-weight: 400;
             outline: none;
             padding:15px 20px;
             position: relative auto;
               
             @media $large{
               max-height: 50px;     
               padding: 7px 20px;         
               top: 25px;
               right: 10px;        
             }  

             &:hover{
               background-color:$export-blue-300;
               border: 1px solid $export-blue-300;    
             }   

           }

         }
         /* --- end:search-filter button--- */ 
    
    }
    /* --- end:form controls--- */         

}
/* --- end:search filter --- */  










