/* ==========================================================================
   ExportNZ - About ExportNZ
   ========================================================================== */

/* start:about ExportNZ */
.about{
  background-color:$off-white;

  /* --- start:grid-content--- */ 
  .grid-content {
    background-color:white;
    
    @media $medium{
      max-width: 100%;
    }    

    /* --- start:page-listing --- */  
    .listing{
       padding: 10px;
       color:$dark-grey;

       @media $medium{   
         padding: 20px 15px; 
       }                
       @media $large{   
         padding: 20px;
       } 

       &:hover{
         text-decoration:none;
       }

       /* --- start:people heading --- */ 
       .heading{
          align-items:flex-start;
          display:flex; 
          flex-direction:column;
          flex-wrap: wrap;
          justify-content: flex-start;

          @media $medium{  
            flex-direction:row;  
          }

      h2{
        color:$dark-grey;
        font-size:responsive 20px 28px;
        font-weight:$bold;

        @media $large{ 
          font-weight:$normal;
        }

      }

      p{
        color:$export-blue-100;
        font-size:1.1em; 
        font-weight:$normal;
        margin:0;   
      }

    }
       /* --- end:people heading --- */ 

       /* --- start:about-us--- */  
       .about-us{  
         lost-center:100%;    
         width: 100%;
         
            
         .nested-grid-item{

          /* --- start:content--- */      
          &:first-of-type{
            border-top:1px solid $grey-200;  
            lost-row:1/1;
            margin-right:1.0em!important; 
            order:2;   

            @media $medium{  
              border-top:none;  
              border-right:1px solid $grey-200;      
              lost-column:3/4;
              order:1; 
            }  

            p{
             font-size:responsive 16px 18px;       
             width:100%;
               
             &:last-of-type{
               margin-bottom:0;
             }   
               
             @media $medium{ 
               width:95%;   
             }
               
           }    
             
           blockquote{
             color:$export-blue-200;
             font-size:responsive 18px 20px;
             font-style: italic;
             line-height:1.5;
             margin: 1.5em 0;
             padding: 0 0.5em;
             position:relative;
               
             @media $medium{ 
               padding: 0 2.5em; 
             }   

             &:before{
               color:$export-blue-200;
               content: "\201C";
               font-size: 2em;
               line-height: 0.1em;        
               position:absolute 0.4em auto auto -.2em;
                 
               @media $medium{
                 font-size: 5em;
                 line-height: 0.1em; 
                 position:absolute 0.3em auto auto 5px;    
               }
                 
             }

           }
              
         }  
          /* --- end:content--- */    
             
          /* --- start:visual--- */    
          &:last-child{
            lost-row:1/1;
            order:1;   
              
            @media $medium{  
              lost-column:1/4;
              order:2;     
            }   
          
             /* --- start:thumbnail--- */     
            .thumbnail{
              box-shadow:0 1px 3px rgba(#000, .12),
    				     0 1px 2px rgba(#000, .24);
              max-height: 400px;
              max-width: 300px;     
              margin:15px auto 25px;
                   
              &.exportnz-logo {
                margin:15px auto 25px;
                padding: 1.5em 1em;
                position: relative;
                width:100%;
              }
           
              @media $medium{  
                margin:8% 0 0 0;
              }
                
              img{
                height: 100%;
                margin: 0;
                object-fit: contain;
                width: 100%;
                  
                &.exportnz-logo{
                  padding: 20% 5%;
                }
                  
              }
                
            }
             /* --- end:thumbnail--- */     
              
         }
          /* --- end:visual--- */
             
          } 

       } 
       /* --- end:about-us--- */

}
    /* --- end:page-listing --- */     


    }
  /* --- end:grid-content--- */     

} 
/* end:about ExportNZ */


.btn{
    bottom:10px;
    
    @media $medium{  
      bottom:auto;
    }
}