/* ==========================================================================
   ExportNZ - Latest Events Section
   ========================================================================== */

.section-home-events{
    background-color:#ffffff;
    lost-center:100%!important;

    h2{
     color:$dark-grey;
    }

    .grid{

     @media $large {    
       max-width:93%!important; 
     }
        
     @media $x-large {   
      max-width:78%!important;
     }
        
     .header{
       padding:0.5em;
            
       @media $medium{   
         padding:0!important;
       }
             
       @media $large {       
         padding:0.5%!important;
       }
             
     }
        
    }

/* Upcoming Events
--------------------------------------------------*/  
    
.grid-item {
   lost-column:1/1 0;
   margin-bottom:0;
   padding:0.5em;
     

   @media $small{
     padding:0.5em;
     margin-bottom:10px;   
   }   

   @media $medium{
     lost-column:1/2 3 1.2%;
     padding:0.5em 0;
       
       &:nth-child(odd){
         padding-left:0.5em;
       }; 
       
       &:nth-child(even){
         padding-right:0.5em;
       };

   }      

   @media $large { 
     lost-column:1/4 5;
     padding:0.5em; 
       
     a:hover{   
       background-color:$export-blue-300;
       cursor:pointer;
       text-decoration:none;
       transition: all 0.2s ease-in-out;  
     }   
       
   } 
    
} 
      

.grid-content {   
    background-color:$export-blue-100;
    padding:1.0em;

    @media $small{    
      padding:0.5em;
    }

    @media $x-large {
      padding:0.8em 1.5em 0;
    } 

    h2{
     color:$off-white;  
     margin-bottom:10px;
    }

    h3{
     color:$dark-grey;
     font-weight:$light;
     font-size: 3.0em;

     span{
       color:$off-white;   
       font-size:50%;  
     }  

    }    

    p{
      color:#ffffff;
      line-height: 1.5;
      margin: 1.0em 0 ;
      padding: 0;
        width: 100%;
    }
    
    h4{
      color:#ffffff;
      font-weight:$light;
      line-height: 1.5;
      margin: 1.0em 0 ;
      padding: 0;  
      
        &:first-of-type{margin-right:10px;} 
        &:last-child{margin-left:10px;}
    }
   
   }  

} /* .section-home-events */
    
     
     






  
    





