/* ==========================================================================
   ExportNZ - Base styles
   ========================================================================== */

/* 1. Base elements      -       line:10   */
/* 2. Typography         -       line:140  */
/* 3. Browser Upgrade    -       line:177  */


html, body {
 height: 100%;  
}
html {
    font-size:$base-font-size;
    box-sizing:border-box;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Set the global `box-sizing` state to `border-box`*/

*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none; 
}
body {
    margin: 0;
    padding: 0;
    color:$grey-800;
    background-color:$white;
    font-size:$base-font-size;
    line-height:$base-line-height;
    font-weight:$normal;
    text-rendering: optimizelegibility;
}
.no-scroll{
    overflow:hidden;
    height:100%;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background:$export-blue-200;
    color:white;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Set lists with no style by default 
 */

ul, ol{
    margin:0px; 
    padding:0px ; 
    list-style:none;
}

/*
 * Establish Content Container
 */

.container{
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:0;
}

/*
 * Main content below header
 */

main{
    display:block;
    margin:0;
    min-height:600px;
    overflow: hidden;
    padding:0;
	transition: all 0.2s ease-in-out;
}

/*
 * Set input placeholder color
 */

::-webkit-input-placeholder {color:$grey-500;}
:-moz-placeholder {color:$grey-500;}
::-moz-placeholder {color:$grey-500; }
::placeholder {color:$grey-500;}


/* ==========================================================================
   Typography
   ========================================================================== */

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    font-family: $font-primary;
    color:$grey-800;
}

p{
   font-family: $font-secondary;
   font-weight: $normal;     
}

em{
    font-family: $font-secondary;
    font-weight: $extra-bold;
    font-size:140%;
    color:$export-blue-100;
    font-style:normal;
}

a {
    color:$export-blue-100;
    outline: 0;
    text-decoration: none;

    &:focus{
      outline:0;       
    } 
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

/*
 * Script for browser checking
 * http://browser-update.org
 */

.buorg {
    position:absolute 0 auto auto 0!important;
    width:100%!important;
    border-bottom:1px solid #A29330!important;
    background:#FBFF00 no-repeat 1em 1.0em url(data:image/gif;base64,R0lGODlhEAAQAOYAAAAAAP////v/APv/Afv/Avv/A/v/BPv/Bfv+B/v+C/v+DPv+Dvv9FPv9Gfv9G/v9Hfz8Hvv8KPz7MPz7O/v6Q/z6SPv5Tvz5UPv3Vfv3VvbvRPTrVe/kP+zdQuzcUebTSOTNYN7BVN2/WN/DY9m4Ude0VsaWLsWUL8+mVs2iW7RzJbBsJ61lIaZZG6ZaK5tDGKJOJqBOLpIzFJY5GpAwFJc7IJsUAZQVA5YZCKARAJoSAZYTBJUXCIIYDZMPA4EWDZALA58FAZUIBJQJBNYAANEBANECAMQAAMAAALwAALgAALgBALQAALQBAK8AAK8BAJ8AAJ8EAY4FA5YGBJUHBJEHBLsUFNcpKdwvL9wzM9s5Odo8PNlBQeaTk+ekpOWnp+SqquKrq+GurvDs7O3q6uro6Ojn5/Ly8vHx8fDw8O/v7+7u7u3t7ezs7Ovr6+rq6unp6eXl5eHh4WhoaFtbW1paWk1NTUNDQ0BAQDExMf///wAAAAAAAAAAAAAAAAAAACH5BAEAAHoALAAAAAAQABAAAAfTgAKCggobMS4aBoOLgw0qUUErEIyLBhw3V1ZAHoqUAw4sT2JiTjASA5QGHT5ccXFcUiALlBEtTWF5eWFMNRcFiwkfO1tmeHhmW1UjD4MEEy9LYHB2dnBgSjMVB4IOIkNaZW90dG9lWkMhDAMIFjRJX21uc3NubV9JMhQFDyVUWWRs2siR04YNmSxCSDDIwAOJFzVr2Ny5w2aNGi9IcGBAMQXLmDQQ69SxmGYMlikpehzpcgYNyDUk0ZzpcuRHDiNEcurcmbNIDhM2oAgdSlSojhOBAAA7)!important;
    text-align:left!important;
    cursor:pointer!important;
    font-family:'Tahoma', Verdana, Segoe, sans-serif; color:#292827!important;
    font-size:20px!important;
}
.buorg div {
    padding:10px 40px!important;
    text-indent: 0 !important;
}
.buorg div a, .buorg div a:visited{
    text-indent: 0!important;
    color: #fff !important;
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.4)!important;
    padding: 10px 10px!important;
    border-radius: 4px!important;
    font-weight: normal!important;
    background: red!important;
    white-space: nowrap!important;
    margin: 0 2px!important;
    display: inline-block!important;
    font-size: 1.3em !important;
    margin-top: 16px!important;
}
#buorgig {
    background-color: green!important;
}
#buorgclose {
    position: absolute 4px .5em auto auto!important;
    height: 20px!important;
    width: 12px!important;
    font-weight: bold!important;
    font-size:25px!important;
    padding:0!important;
}


